<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>toto</display-name>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
  	<servlet-name>RestApplication</servlet-name>
  	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  	<init-param>
  		<param-name>com.sun.jersey.config.property.packages</param-name>
  		<param-value>fr.orsys.hello.rest</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RestApplication</servlet-name>
  	<url-pattern>/ressources/*</url-pattern>
  </servlet-mapping>
  
  
  <!--  Controle d'accès aux web service rest -->
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>rest</web-resource-name>
  		<url-pattern>/rest/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>ROLE_REST</role-name>  	
  	</auth-constraint>
  </security-constraint>
  
  <login-config>
  	<auth-method>BASIC</auth-method>
  </login-config>
  
  
  
  
</web-app>